# Laravel
/vendor/
/node_modules/

# Laravel specific
/public/storage
/storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Laravel Mix / Vite
/public/hot
/public/build
/node_modules/
/npm-debug.log
yarn-error.log
pnpm-debug.log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Composer
composer.lock
composer.phar

# IDE & OS
.idea
.vscode
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Logs & cache
/storage/logs/*
/bootstrap/cache/*.php
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Optional: ignore local files
/.env.*
/*.local
